input {
    heartbeat {
        type => "heartbeat"
        id => "heartbeat"
        message => "sequence"
    }
}

output {
    elasticsearch {
        hosts => ["{{ elastic_elasticsearch_host }}:{{ elastic_elasticsearch_port }}"]
    }
}
