input {
    syslog {
        type => "syslog"
        port => {{ elastic_logstash_syslog_port }}
        id => "syslog"
        timezone => "{{ elastic_logstash_syslog_time_zone }}"
    }
}

output {
    elasticsearch {
        hosts => ["{{ elastic_elasticsearch_host }}:{{ elastic_elasticsearch_port }}"]
    }
}
